site_name: SideStore Docs
site_url: https://wiki.sidestore.io
docs_dir: ../../docs/en

theme:
  logo: ../../img/icons/favicon-32x32.png
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sidestore
    - icon: fontawesome/brands/discord
      link: https://discord.gg/sidestore-949183273383395328
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/sidestore_io

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - def_list

plugins:
  - glightbox
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

nav:
  - Home: index.md
  - FAQ: faq.md
  - Guides:
    - Getting Started: Guides/getting-started.md
    - Create a Burner Apple ID: Guides/burner-apple-id.md
  - Advanced:
    - Custom Anisette Server: Advanced/anisette-server.md
    - App Sources: Advanced/app-sources.md
    - URL Schemes: Advanced/url-schemes.md