name: PR Build Check

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Test Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build website
        run: yarn build
        
      - name: Build Result
        run: echo "Build completed successfully! The PR has no conflicts." 
